body {
	position: relative;
	margin: 0 auto;
	width: 780px;
	font: normal 14px "Arial";
	background: #fff;
	}

a {
	color: #366388;
	}

.layout-headline {
	font: italic 26px Georgia;
	font-weight: normal;
	color: #6e96b5;
	text-shadow: 0 1px 0 #fff;
	}

.top-layout {
	position: relative;
	height: 160px;
	padding: 0 0 5px 0;
	background: url('../i/bg-snowflakes.png') #cfe6f9;
	}

.you-layout {
	position: relative; z-index: 2;
	top: -5px;
	margin-bottom: -10px;
	}

.answer-layout {
	position: relative;
	background: url('../i/bg-snowflakes.png') #cfe6f9;
	padding: 25px 20px 10px 20px;
	overflow: hidden;
	}

.raiting-layout {
	position: relative;
	margin-top: -5px;
	}

.like-layout {
	position: relative;
	margin-top: -5px;
	background: url('../i/bg-snowflakes.png') #CFE6F9;
	padding: 15px;
	overflow: hidden;
	}

	.like-layout__like {
		float: left;
		}

	.like-layout__group {
		float: right;
		}

.answer-layout .ui-scrollbar {
	position: absolute; top: 37px; right: 20px;
	}

.ui-scrollbar {
	width: 520px;
	background: #b2c9db;
	height: 8px;
	border-radius: 5px;
	padding: 1px;
	}

	.ui-scrollbar__scroller {
		position: relative;
		height: 8px;
		background: #6e96b5;
		border-radius: 4px;
		cursor: pointer;
		}

.you-layout .ui-socks-rating {
	position: absolute;
	top: 0;
	right: 25px;
	}

.answers-list {
	position: relative;
	margin: 25px 0 25px 62px;
	padding: 132px 0;
	}

	.answers-list .ui-average-image {
		border: solid 5px #fff;
		}

		.answers-list .ui-average-image:hover {
			border: solid 5px #fff;	
			}

.answer-layout .ads {
	width: 728px;
	margin: 0 auto;
	}

.ui-slider-arrow {
	width: 34px; height: 48px;
	}

.answers-list .ui-slider-arrow {
	top: 175px; 
	position: absolute; z-index: 2;
	cursor: pointer;
	}

	.answers-list .ui-slider-arrow_left {
		right: 100%; margin-right: 11px;
		}

	.answers-list .ui-slider-arrow_right {
		left: 632px;
		}


	.ui-slider-arrow_left {
		  background: url(../i/sprite-slider-arrows.png) 0px -50px no-repeat;
		}

		.ui-slider-arrow_left:hover {
		    background: url(../i/sprite-slider-arrows.png) 0px 0px no-repeat;
			}

	.ui-slider-arrow_right {
	  background: url(../i/sprite-slider-arrows.png) -36px -52px no-repeat;
		}

		.ui-slider-arrow_right:hover {
			  background: url(../i/sprite-slider-arrows.png) -36px 0px no-repeat;
			}


.answer__covered {
	position: relative;
	z-index: 1;
	zoom: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	}

	.answer__covered .ui-average-image:hover {
		border: solid 5px #fff;
		}

	.answer__covered .user-answers {
		display: none;
		}

	.answers-list_container {
		width: 2000px;
		position: relative;
		}

	.answers-list li {
		position: relative;
		float: left;
		width: 140px; height: 140px;
		margin-right: 20px;
		}

	.user-answers_small {
		position: absolute;
		width: 180px;
		top: 100%;
		left: 0;
		margin-top: 5px;
		}

	.user-answers_small .ui-user-block {
		line-height: normal;
		overflow: hidden;
		}

		.user-answers_small .ui-incut {
			border: 0;
			text-shadow: none;
			color: #fff;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#95b2c9), to(#6f96b5));
			background-image: -webkit-linear-gradient(#95b2c9, #6f96b5);
			background-image: -moz-linear-gradient(#95b2c9, #6f96b5);
			background-image: -o-linear-gradient(#95b2c9, #6f96b5);
			background-image: linear-gradient(#95b2c9, #6f96b5);
			font-size: 12px;
			margin: 5px 0;
			-pie-background: linear-gradient(#95b2c9, #6f96b5); /*PIE*/
			behavior: url(js/PIE.htc);
			}

			.user-answers_small .ui-incut .corner {
				background: url("../i/corner-small.png") no-repeat 0 0;
				}

		.user-answers_orange  .ui-incut {
			border: 0;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc881), to(#ffb352));
			background-image: -webkit-linear-gradient(#ffc881, #ffb352);
			background-image: -moz-linear-gradient(#ffc881, #ffb352);
			background-image: -o-linear-gradient(#ffc881, #ffb352);
			background-image: linear-gradient(#ffc881, #ffb352);
			-pie-background: linear-gradient(#ffc881, #ffb352); /*PIE*/
			behavior: url(js/PIE.htc);

			text-shadow: none;
			color: #534741;
			}

			.user-answers_orange .ui-incut .corner {
				background: url("../i/corner-yellow.png") no-repeat 0 0;
				}

		.user-answers_small h2 {
			margin-top: 3px !important;
			width: auto !important;
			}

		.user-answers_small .user-posted-time {
			float: left;
			font-size: 11px;
			color: #93837b;
			}


		.answers-list .user-answers_small_reverse {
			top: auto;
			bottom: 100%;
			left: 0;
			margin-bottom: 5px;
			}

			.user-answers_small_reverse .ui-incut {
				border-radius: 5px 5px 5px 0 !important;
				}

			.user-answers_small_reverse .corner {
				top:100% !important;
				background: url("../i/corner-small-revert.png") no-repeat 0 0 !important;
				}

			.user-answers_small_reverse.user-answers_orange .corner{
				background: url("../i/corner-yellow-revert.png") no-repeat 0 0 !important;
				}

	.answers-list__reverse {

		}

.ui-socks-rating {

	}

	.ui-socks-rating li {
		height: 11px;
		width: 10px;
		border-right: solid 1px #cfe6f9;
		float: left;
		margin-right: 19px;
		}

		.ui-socks-rating li span {
			position: relative; top: 11px; left: 0px;
			display: block;
			width: 26px; height: 36px;
			background: url("../i/sock-contour.png") no-repeat 0 0;
			}

			.ui-socks-rating .active span {
				 background: url("../i/sock-active.png") no-repeat 0 0; 
				}

.ui-advert-content {
	position: absolute; right: 0; bottom: -5px; z-index: 1;
	width: 200px; height: 200px;
	padding: 5px 0 41px 5px;
	background: url('../i/bg-tv.png') 0 0 no-repeat;
	}

	.you-layout .content {
		position: relative;
		padding: 16px 0 20px 20px;
		}

	.you-layout .make-choise {
		width: 289px;
		float: left;
		}

	.you-layout .ui-incut {
		margin-top: 4px;
		}


.bg-fir-tree {
	position: absolute; top:0; left: 0;
	width: 100%;
	height: 100%;
	background: url('../i/fir-tree.png') 144px -13px no-repeat;
	}

	.raiting-layout .bg-fir-tree {
		background: url('../i/fir-tree.png') 50% -13px no-repeat; 
		}

.noise {
	background: url('../i/bg-noise.png') #aecbdf;
	}


.you-layout .ui-fir-tree {
	position: absolute; left: 291px; top: 59px;
	}

.ui-fir-tree {
	display: inline-block;
	width: 267px; height: 401px;
	background: url("../i/contour-fir-tree.png") 0 0 no-repeat;
	text-align: center;
	font-size: 0;
	}

	.ui-fir-tree .w-tree {
		position: absolute; bottom: 5px; left: 0; width: 100%;
		text-align: center;
		}

.show-friend {
	position: absolute; left: 166px; top: 24px;
	width: 263px;
	border-top: solid 2px #cfe6f9;
	}

	.show-friend .ui-btn-glow {
		clear: both;
		margin-right: -23px;
		float: right;
		position: relative; top: 10px;
		}

.ui-fir-tree-height {
	position: relative;
	margin: -2px -10px 0 0;
	background: #cfe6f9;
	padding: 12px 30px 12px 30px;
	font-size: 12px;
	color: #534741;
	float: right;
	border-radius: 0 10px 10px 10px;
	line-height: 1;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	}

	.ui-fir-tree-height .corner {
		position: absolute; left: -8px; top: 0;
		width: 8px; height: 8px;
		background: url("../i/bg-corver-height.png") 0 0 no-repeat;
		}

	.ui-fir-tree-height .count-height {
		font-size: 33px;
		font-weight: bold;
		color: #ff9000;
		}

.ui-incut {
	position: relative;
	font-size: 14px;
	color: #534741;
	background: #dfeefb;
	border-radius: 0 10px 10px 10px;
	padding: 12px 15px;
	text-shadow: 0 1px 0 #fff;
	border-top: solid 1px #6e96b5;
	border-bottom: solid 1px #fff;
	}

	.ui-incut_notice {
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ab6cc), to(#6e96b5));
		background-image: -webkit-linear-gradient(#9ab6cc, #6e96b5);
		background-image: -moz-linear-gradient(#9ab6cc, #6e96b5);
		background-image: -o-linear-gradient(#9ab6cc, #6e96b5);
		background-image: linear-gradient(#9ab6cc, #6e96b5);

		-pie-background: linear-gradient(#9ab6cc, #6e96b5);
		behavior: url(js/PIE.htc);

		border-top: solid 1px #366388;
		border-bottom: solid 1px #fff;
		color: #fff;
		text-shadow: 0 -1px #366388;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		text-align: center;
		font-size: 18px;
		width: 420px;
		padding: 19px 0 20px 0;
		}

		.answer-layout .ui-incut_notice {
			margin: 30px auto;
			}

	.ui-incut .corner {
		position: absolute; top: -7px; left: 0;
		width: 7px; height: 7px;
		background: url("../i/corner.png") 0 0 no-repeat;
		}

.choise-image {
	text-align: center;
	margin-top: 20px;
	font-size: 0;
	}

.ui-average-image {
	position: relative;
	display: inline-block;
	border: solid 5px #6e96b5;
	border-radius: 10px;
	margin-bottom: 5px;
	}

	.ui-average-image .overlay {
		position: absolute;
		width: 100%; height: 100%;
		background: url('../i/hand.png') no-repeat 50% 50% rgba(0,0,0,0.5);
		border-radius: 5px;
		display: none;
		}

	.ui-average-image:hover {
		border: solid 5px #ff9000;
		}

	.ui-average-image:hover .overlay {
		display: block;
		}

	.ui-average-image+.ui-average-image {
		margin-left: 5px;
		}

	.ui-average-image img {
		display: block;
		border-radius: 5px;
		}

.ui-user-block {
	padding: 0 0 0 5px;
	line-height: 40px;
	overflow: hidden;
	}

	.ui-user-block h2 {
		color: #366388;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 0 1px 0 #cfe6f9;
		float: left;
		margin: 0 0 -2px 0;
		width: 148px;
		overflow: hidden;
		white-space: nowrap;
		text-shadow: 0 1px 0 #fff;
		}

	.ui-user-block img {
		border: solid 5px #fff;
		border-radius: 5px;
		margin-right: 12px;
		float: left;
		}

	.ui-user-block .ui-skip {
		float: right;
		}

.ui-skip {
	font-size: 11px;
	color: #366388;
	}

.delimiter {
	clear:both;
	width: 100%;
	height: 5px;
	}

	.top-delimiter {
		background: url(../i/delimiter.png) repeat-x 0 0;
		}

	.bottom-delimiter {
		background: url(../i/delimiter.png) repeat-x 0 -5px;
		}

.top-layout .level {
	top:6px; left: 9px;
	}

.top-layout .top-menu {
		margin: 19px 0 0 92px;
		float: left;
		}

.top-layout .buy-money {
	float: right;
	margin: 15px 15px 0 0;
	}

.top-layout .adv {
	width: 728px;
	margin: 0 auto 0 auto;
	padding-top: 60px;
	}

.buy-money {
	line-height: 30px;
	font-size: 12px;
	}

	.buy-money .ui-coin-count {
		position: relative; top: 1px;
		float: left;
		margin-right: 18px;
		}

		.ui-coin-count {
			padding: 0 0 0 28px;
			font-size: 24px;
			font-weight: bold;
			text-shadow: 0 1px 0px #f1f8fd;
			background: url('../i/ico-coin.png') 0 50% no-repeat;			
			color: #534741;
			}

	.buy-money .buy-money__link {
		position: relative; top: 1px;
		margin-right: 17px;
		}

.top-menu {
		font-size: 18px;
		}

		.top-menu li {
			float: left;
			margin-right: 27px;
			}

		.top-menu a {
			color: #366388;
			text-shadow: 0 1px 0px #f1f8fd;
			}

.level {
	position: relative;
	width: 198px;
		float: left;
	}

	.level .star {
		position: relative;
		width: 45px; height: 47px;
		background: url("../i/ui-star.png") no-repeat;
		text-shadow: 0 -1px 0 #c35c18;
		color: #fff;
		float: left;
		}

		.level .star__text {
			position: absolute; top: 15px; left: 1px;
			text-align: center;
			width: 45px;
			font-size: 16px;
			font-weight: bold;
			}

	.level .progress {
		position: relative; top: 9px;
		float: left;
		width: 150px; height: 30px;
		border: solid 1px #506c83;
		/*background: url("../i/bg-progress.png") repeat-x 0 0;*/
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#496479), color-stop(0.5, #6386a2), to(#6a90ae));
		background-image: -webkit-linear-gradient(#496479, #6386a2, #6a90ae);
		background-image: -moz-linear-gradient(#496479, #6386a2, #6a90ae);
		background-image: -o-linear-gradient(#496479, #6386a2, #6a90ae);
		background-image: linear-gradient(#496479, #6386a2, #6a90ae);
		-pie-background: linear-gradient(#496479, #6386a2, #6a90ae); /*PIE*/
		behavior: url(js/PIE.htc);

		border-radius: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}

		.level .progress__text {
			position: absolute; top: 6px; z-index: 2;
			color: #e5e5e5;
			text-shadow: 0 -1px 0px #3f5669;
			width: 100%;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			}

		.level .progress__completed {
			position: relative;
			height: 28px;
			border: solid 1px #e3914c;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1c996), color-stop(0.75, #ff8330), to(#fca94f));
			background-image: -webkit-linear-gradient(#f1c996, #ff8330 75%, #fca94f);
			background-image: -moz-linear-gradient(#f1c996, #ff8330 75%, #fca94f);
			background-image: -o-linear-gradient(#f1c996, #ff8330 75%, #fca94f);
			background-image: linear-gradient(#f1c996, #ff8330 75%, #fca94f);
			-pie-background: linear-gradient(#f1c996, #ff8330 75%, #fca94f); /*PIE*/
			behavior: url(js/PIE.htc);


			border-radius: 4px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;			
			}


.raiting-layout .content {
	position: relative;
	padding: 20px 25px 40px 25px;
	}

.rating-leveling {
	margin-top: -18px;
	}

	.rating-leveling ul {
		text-align: center;
		}


.rating-leveling .rating-elem {

	}

	.rating-leveling li {
		display: inline-block;
		text-align: center;
		margin:0 3px 34px 3px;

		}


.rating-layout__update {
	margin-top: 6px;
	text-align: center;
	}

.ui-avatar-name {
	clear: both;
	width: 164px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2f0fb), to(#cfe6f9));
	background-image: -webkit-linear-gradient(#e2f0fb, #cfe6f9);
	background-image: -moz-linear-gradient(#e2f0fb, #cfe6f9);
	background-image: -o-linear-gradient(#e2f0fb, #cfe6f9);
	background-image: linear-gradient(#e2f0fb, #cfe6f9);
	-pie-background: linear-gradient(#e2f0fb, #cfe6f9); /*PIE*/
	behavior: url(js/PIE.htc);
	overflow: hidden;
	border-radius: 5px;

	-webkit-box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
	-moz-box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
	box-shadow: 5px 10px 20px rgba(0,0,0,0.4);

	}

	.raiting-layout__you .ui-avatar-name {
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd297), to(#ffb452));
		background-image: -webkit-linear-gradient(#ffd297, #ffb452);
		background-image: -moz-linear-gradient(#ffd297, #ffb452);
		background-image: -o-linear-gradient(#ffd297, #ffb452);
		background-image: linear-gradient(#ffd297, #ffb452);
		-pie-background: linear-gradient(#ffd297, #ffb452); /*PIE*/
		behavior: url(js/PIE.htc);

		}

.ui-position {
	margin: 0 0 0 12px;
	font-size: 33px;
	font-weight: bold;
	float: left;
	margin-bottom: -8px;
	color: #fff;
	line-height: 26px;
	}

.ui-position-height {
	position: relative;
	float: right;
	font-size: 12px;
	padding: 5px 7px;
	background: #6e96b5;
	border-radius: 5px 5px 5px 0;
	color: #fff;
	}

	.ui-position-height__corver {
		position: absolute; left: -5px; bottom: 0px; width: 5px; height: 5px;
		background: url("../i/corner-smaler-bl.png") no-repeat 0 0;
		}

.ui-avatar-name img {
	float: left;
	border: solid 5px #fff;
	border-radius: 5px;
	margin-right: 10px;
	}

.ui-avatar-name h3 {
	float: left;
	margin-top: 9px;
	font-size: 18px;
	font-weight: normal;
	color: #366388;
	text-shadow: 0 1px 0 #fff;
	}

.ui-goto {
	position: fixed;
	left: 50%; top: 50%;
	z-index: 20;
	margin-left: 292px;
	padding: 0 0 15px 6px;
	background: url("../i/goto-shadow.png") 0 100% no-repeat;
	}

	.ui-goto a {
		display: block;
		width: 72px;
		padding: 10px;
		border-radius: 5px 0 0 5px;
		font-size: 12px;
		color: #366388;
		background: url("../i/go-up.png") 63px 50% no-repeat #fff;
		}


.overlay {
	position: fixed; z-index: 20; left: 0; top: 0;
	width: 100%; min-height: 100%; height: 100%;
	display: none;
	}

	.overlay_active {
		display: block;
		}

	.overlay__loader {
		position: relative; z-index: 2; top: 20%;
		text-align: center;
		color: #fff;
		}

.popup-container {
	text-align: center;
	position: relative; top: 10%;
	z-index: 2;
	}

	.ui-popup {
		position: relative;
		z-index: 2;
		background: #cee5f8;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		padding: 20px;
		display: inline-block;
		text-align: left;
		-webkit-box-shadow: inset 0px 0px 15px 2px #779ebe;
		-moz-box-shadow: inset 0px 0px 15px 2px #779ebe;
		box-shadow: inset 0px 0px 15px 2px #779ebe;
		}

		.ui-popup__controls {
			text-align: center;
			}

		.ui-popup__content {
			width: 420px;
			}

		.ui-popup h2 {
			text-align: left;
			margin-bottom: 15px;
			margin-top: -6px;
			}

	.overlay__ui-popup {

		}

		.overlay__loader p {
			margin-top: 10px;
			}

	.overlay__bg {
		position: absolute; top: 0; left: 0;
		width: 100%; min-height: 100%; height: 100%;
		background: #000;
		opacity: 0.7;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		*filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		}

.buy-coins__list {
	margin: 20px 0 20px 0;
	}

	.buy-coins__list li {
		border-radius: 5px;
		background: #fff;
		padding: 5px 5px 5px 10px;
		overflow: hidden;
		margin-bottom: 1px;
		}

	.buy-coins__list .ui-coin-count,
	.buy-coins__list .ui-bonus-coins {
		float: left;
		}

		.buy-coins__list .ui-coin-count {
			margin-top: 3px;
			}

		.buy-coins__list .ui-bonus-coins {
			margin-left: 11px;
			}

	.ui-bonus-coins {
		position: relative;
		line-height: 0.8;
		font-size: 12px;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffca86), to(#ffb352));
		background-image: -webkit-linear-gradient(#ffca86, #ffb352);
		background-image: -moz-linear-gradient(#ffca86, #ffb352);
		background-image: -o-linear-gradient(#ffca86, #ffb352);
		background-image: linear-gradient(#ffca86, #ffb352);

		-pie-background: linear-gradient(#ffca86, #ffb352);
		behavior: url(js/PIE.htc);

		text-align: center;
		padding: 8px 10px 7px 5px;
		-webkit-border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;
		color: #534741;
		left: 10px;
		}

		.ui-bonus-coins__corner {
			position: absolute; left: -10px; top: 0;
			background: url("../i/ui-bonus-coins__corner.png") no-repeat 0 0;
			height: 33px; width: 10px;
			}

	.buy-coins__list .ui-btn-glow {
		float: right;
		}

		.buy-coins__list .ui-btn-glow:active {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			}

	.buy-coins__list .get-voice {
		margin-left: 193px;
		line-height: 31px;
		}

.get-free-coins__list {
	margin-bottom: 20px;
	}

	.get-free-coins__list li {
		padding: 10px 21px 10px 17px;
		background: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 12px;
		margin-bottom: 1px;
		overflow: hidden;
		}

		.get-free-coins__description {
			float: left;
			width: 260px;
			}

		.get-free-coins__link {
			float: right;
			}

		.get-free-coins__list li h3 {
			font-size: 12px;
			margin-bottom: 17px;
			color: #366388;
			}

.all-methods-getting-coin {
	text-align: center;
	font-size: 12px;
	margin-bottom: 20px;
	}

/*BUTONS*/
.btn {
	position: relative;
	display: inline-block;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	padding: 6px 18px 7px 18px;
	text-decoration: none;
	line-height: normal;
	}

	.ui-btn-glow {

		}

		.ui-btn-glow{
			font-size: 14px;
			display: inline-block;
			color: #fff;
			text-shadow: 0 -1px 0 #007da6;
			border-radius: 5px;
			border: solid 1px #00a4cd;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#30c7e2), color-stop(0.57, #0090b4), to(#0096bc));
			background-image: -webkit-linear-gradient(#30c7e2, #0090b4 57%, #0096bc);
			background-image: -moz-linear-gradient(#30c7e2, #0090b4 57%, #0096bc);
			background-image: -o-linear-gradient(#30c7e2, #0090bottom: ;4 57%, #0096bc);
			background-image: linear-gradient(#30c7e2, #0090b4 57%, #0096bc);
			-pie-background: linear-gradient(#30c7e2, #0090b4 57%, #0096bc); /*PIE*/
			behavior: url(js/PIE.htc);

			text-decoration: none;
			}

		.ui-btn-glow_shadow {
			-webkit-box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
			-moz-box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
			box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
			}

			.ui-btn-glow:hover {
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ad5e6), color-stop(0.57, #00aad4), to(#00b2de));
				background-image: -webkit-linear-gradient(#7ad5e6, #00aad4 57%, #00b2de);
				background-image: -moz-linear-gradient(#7ad5e6, #00aad4 57%, #00b2de);
				background-image: -o-linear-gradient(#7ad5e6, #00aad4 57%, #00b2de);
				background-image: linear-gradient(#7ad5e6, #00aad4 57%, #00b2de);        
				-pie-background: linear-gradient(#7ad5e6, #00aad4 57%, #00b2de); /*PIE*/
				behavior: url(js/PIE.htc);

				}

			.ui-btn-glow:active {
				-webkit-box-shadow: 5px 6px 20px rgba(0,0,0,0.5);
				-moz-box-shadow: 5px 6px 20px rgba(0,0,0,0.5);
				box-shadow: 5px 6px 20px rgba(0,0,0,0.5);        
				}

			.ui-btn-glow span {
				display: block;
				padding: 6px 18px 8px 18px;
				border-top: solid 1px #99d9e9;
				border-radius: 5px;
				}

	.btn .shadow {
		position: absolute; bottom: -2px; left: 50%; margin-left: -50px;
		display: block;
		width: 100px;
		height: 3px;
		background: url("../i/bg-shadow.png") 50% 0 no-repeat;
		}

	.btn-orange {
		color: #fff;
		font-size: 14px;
		text-shadow: 0 -1px 0 #f7722b;
		-webkit-box-shadow: inset 0px 0px 0px 1px #f9b778;
		-moz-box-shadow: inset 0px 0px 0px 1px #f9b778;
		box-shadow: inset 0px 0px 0px 1px #f9b778;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1c996), color-stop(0.75, #ff8330), to(#fca94f));
		background-image: -webkit-linear-gradient(#f1c996, #ff8330 75%, #fca94f);
		background-image: -moz-linear-gradient(#f1c996, #ff8330 75%, #fca94f);
		background-image: -o-linear-gradient(#f1c996, #ff8330 75%, #fca94f);
		background-image: linear-gradient(#f1c996, #ff8330 75%, #fca94f);    
		-pie-background: linear-gradient(#f1c996, #ff8330 75%, #fca94f); /*PIE*/
		behavior: url(js/PIE.htc);
		}

/* ==========================================================================
	 Helper classes
	 ========================================================================== */

/*
 * Image replacement
 */

.ir {
		background-color: transparent;
		border: 0;
		overflow: hidden;
		/* IE 6/7 fallback */
		*text-indent: -9999px;
}

.ir:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
		display: none !important;
		visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
		visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
		content: " "; /* 1 */
		display: table; /* 2 */
}

.clearfix:after {
		clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
		*zoom: 1;
}

/* ==========================================================================
	 EXAMPLE Media Queries for Responsive Design.
	 Theses examples override the primary ('mobile first') styles.
	 Modify as content requires.
	 ========================================================================== */

@media only screen and (min-width: 35em) {
		/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			 only screen and (min-resolution: 144dpi) {
		/* Style adjustments for high resolution devices */
}

/* ==========================================================================
	 Print styles.
	 Inlined to avoid required HTTP connection: h5bp.com/r
	 ========================================================================== */

@media print {
		* {
				background: transparent !important;
				color: #000 !important; /* Black prints faster: h5bp.com/s */
				box-shadow: none !important;
				text-shadow: none !important;
		}

		a,
		a:visited {
				text-decoration: underline;
		}

		a[href]:after {
				content: " (" attr(href) ")";
		}

		abbr[title]:after {
				content: " (" attr(title) ")";
		}

		/*
		 * Don't show links for images, or javascript/internal links
		 */

		.ir a:after,
		a[href^="javascript:"]:after,
		a[href^="#"]:after {
				content: "";
		}

		pre,
		blockquote {
				border: 1px solid #999;
				page-break-inside: avoid;
		}

		thead {
				display: table-header-group; /* h5bp.com/t */
		}

		tr,
		img {
				page-break-inside: avoid;
		}

		img {
				max-width: 100% !important;
		}

		@page {
				margin: 0.5cm;
		}

		p,
		h2,
		h3 {
				orphans: 3;
				widows: 3;
		}

		h2,
		h3 {
				page-break-after: avoid;
		}
}