.rating-leveling ul {

	}

.rating-leveling li{
	width: 164px;
	display: inline;
	zoom: 1;
	}

.ui-btn-glow a,
.btn,
.ui-fir-tree,
.ui-popup {
	display: inline;
	zoom: 1;
	}

	.btn-orange {
		line-height: normal;
		}

	.buy-money__link {
		position: relative;
		top: -5px;
		zoom: 1;
		}

.top-layout .adv {
	padding-top: 10px;
	zoom: 1;
	}

.ui-incut {
	}

	.ui-incut .corner {
		top: -3px;
		}

	.answers-list li {
		zoom: 1;
		}

.user-answers_small {
	zoom: 1;
	top: 100%;
	margin-top: 10px;
	}

.user-answers_small .ui-incut {
	top: 5px;
	}

	.user-answers_small .ui-incut .corner{
		top: -7px;
		}

.user-answers_small_reverse .ui-incut {
	margin: 0;
	top: auto;
	bottom: 5px;
	}