.ui-incut,
.ui-scrollbar,
.ui-scrollbar__scroller,
.user-answers_small_reverse .ui-incut,
.ui-fir-tree-height,
.ui-position-height,
.btn,
.ui-btn-glow,
.ui-btn-glow span,
.ui-avatar-name img,
.ui-user-block img,
.ui-popup,
.buy-coins__list li,
.get-free-coins__list li {
	behavior: url(js/PIE.htc);
	}

.ui-avatar-name,
.ui-user-block img,
.ui-btn-glow {
	position: relative;
	z-index: 1;
	}

 .ui-average-image .overlay {
 	background: url('../i/hand.png') no-repeat 50% 50% #000;
 	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
 	}

	.ui-position-height {
		position: relative;
		z-index: 2;
		bottom: 0px;
		}


.btn,
.ui-btn-glow span {
	cursor: pointer;
	}